<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        body {
            margin: 0;
            border: 0;
            padding: 0;
        }

        div {
            box-sizing: border-box;
        }

        a {
            color: blue;
        }
    </style>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div style="margin: 10px;">
        <ul style="display: none;" id="back-home">
            <li><a href="/">back home</a></li>
        </ul>
        {% block body %}{% endblock %}
    </div>
    <script>
        if (window.location.pathname !== "/") {
            document.getElementById("back-home").style.display = "block"
        }
    </script>
</body>

</html>