{% extends 'base.html.j2' %}

{% block title %}
    Index
{% endblock %}

{% block body %}
    <ul>
        {% for page in pages %}
            <li><a href="{{ page }}">{{ page }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}